.square {
    height: 75px;
    width: 75px;
    padding: 0px;
    display: inline-block;
    position: relative;
}

.light-square{
    background-color: #7C4C3E;
}

.dark-square{
    background-color: #512A2A;
}

.indicator-dot {
    height: 25px;
    width: 25px;
    background-color: rgba(172, 172, 172, 0.43);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator-circle {
    height: 70px;
    width: 70px;
    background-color: rgba(154, 153, 153, 0.644);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: none;
    -webkit-mask-image: radial-gradient(30px at 50% 50% , transparent 100%, black 100%); /*Solution taken from https://codepen.io/redders6600/pen/BNROoN by Ed Hinchliffe*/
    z-index: 0;
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}